<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Taller de matemáticas con JavaScript:
		Analisis salarial
	</title>
</head>
<body>
	<header>
		<h1>Analisis salarial</h1>
	</header>
	<main>
		<section>
			<p>Pulsa f12 para abrir la consola interactiva</p>
		</section>
	</main>
	
	<script src="../src/platzimath.js"></script>
	<script src="../src/salarios.js"></script>
	<script src="../src/analisis.js"></script>
</body>
</html>