<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Taller de matemáticas con JavaScript:
		Descuentos
	</title>
</head>
<body>
	<header>
		<h1>Cómo calcular precios con descuetos</h1>
	</header>
	<main>
		<section>
			<label for="price">Precio original del producto: </label>
			<input id="price" type="number" />
			<label for="coupon">Cupopon de descuento:</label>
			<input id="coupon" type="text" />
			<button id="calcular">Calcular descuento</button>
			<p id="result"></p>
		</section>
	</main>
	
	<script src="../src/descuentos.js"></script>
</body>
</html>